:root {
    --primary: #dbd7e0 !important;
    --accent-color: #8a43e2 !important;
    --background-color: #07030C !important;
    
    --primary-100: #2a2033 !important;
    --primary-200: #3f324b !important;
    --primary-300: #423450 !important;
    --primary-400: #736383 !important;
    --primary-500: #9d91aa !important;
    --primary-high: #bfb4c9 !important;
    --primary-medium: #6b5f77 !important;
    --blend-primary-secondary-5: #23192c !important;

    --d-content-background: #160e1f !important;
    --d-sidebar-link-color: #9d91aa !important;
    --d-sidebar-highlight-background: #2B1E3A !important;
    --d-sidebar-highlight-color: #fff !important;
}

.sidebar-section-link {
    border-radius: 999px !important;
}

.sidebar-section.sidebar-section-wrapper {
    background-color: #06020A !important;
    border: 1px solid #1b1125 !important;
    border-radius: 25px;
    margin-bottom: 10px;
    padding: 10px;
}

.post-stream .contents {
    font-size: var(--font-0) !important;
}
