name: Build and Publish Docker Image

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: pretendonetwork/discourse
  RELEASE_BRANCH: refs/heads/master
  SHOULD_PUSH_IMAGE: ${{ (github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/dev')) || github.event_name == 'workflow_dispatch' }}

jobs:
  build-publish-amd64:
    name: Build and Publish Docker Image (amd64)
    runs-on: ubuntu-latest

    services:
      registry:
        image: registry:3
        ports:
          - 5000:5000

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up QEMU for Docker
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: network=host

      - name: Log into the container registry
        if: ${{ env.SHOULD_PUSH_IMAGE == 'true' }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest,enable=${{ github.ref == env.RELEASE_BRANCH }}
            type=raw,value=edge,enable=${{ github.ref == 'refs/heads/dev' }}
            type=sha

      - name: Prepare discourse dependencies
        run: ./build.sh

      - name: Publish discourse temporary image
        run: docker image tag local_discourse/default localhost:5000/local_discourse/default:latest && docker image push localhost:5000/local_discourse/default:latest

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          build-args: |
            DISCOURSE_IMAGE=localhost:5000/local_discourse/default:latest
          push: ${{ env.SHOULD_PUSH_IMAGE }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
